.title {
    font-weight: 600;
    color: rgb(31 41 55);
  }
  
  .description {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
  }
  
  .description a {
    color: rgb(59 130 246);
    text-decoration: none;
  }
  
  .description a:hover {
    text-decoration: underline;
  }
  
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    column-gap: 1rem;
  }
  
  .pref {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(31 41 55);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .pref:hover {
    color: rgb(156 163 175);
  }
  
  .accept {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgb(17 24 39);
    font-weight: 500;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.625rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .accept:hover {
    background-color: rgb(55 65 81);
  }
  